<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <springProperty name="PROJECT_NAME" source="spring.application.name" />
    <springProperty name="PROFILE" source="spring.profiles.active" />
    <springProperty name="LOGSTASH_URL" source="logstash.url" />

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_URL}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <pattern>
                    <pattern>
                        {
                            "app":"${PROJECT_NAME:-application}",
                            "profile":"${PROFILE}",
                            "hostname":"${hostname}"
                        }
                    </pattern>
                </pattern>
                <timestamp />
                <context />
                <threadName />
                <logLevel />
                <message />
                <loggerName />
                <logstashMarkers />
                <stackTrace />
                <callerData />
                <version />
            </providers>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="LOGSTASH" />
        </root>
    </springProfile>

</configuration>